.container {
  display: flex;
  justify-content: space-around;
  width: 1024px;
  margin: 20px auto;
  -webkit-box-shadow: 10px 6px 72px -18px rgba(214, 214, 214, 1);
  -moz-box-shadow: 10px 6px 72px -18px rgba(214, 214, 214, 1);
  box-shadow: 10px 6px 72px -18px rgba(214, 214, 214, 1);
  padding: 20px;
}
.container > div {
  flex: 1;
}
.form {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-a-c {
  align-items: center;
  justify-content: space-around;
}
.flex-s-c {
  align-items: flex-start;
  justify-content: center;
}
.flex-c-c {
  align-items: center;
  justify-content: center;
}

.why {
  width: 400px;
}
.svg-inline--fa {
  height: 2rem;
}
.svg-inline--fa.fa-w-14,
.svg-inline--fa.fa-w-18,
.svg-inline--fa.fa-w-16 {
  width: 2rem;
}

path {
  color: #4183d7;
}
.form-signup {
  width: 400px;
  padding: 20px;
  margin-left: 40px;
}

.form-login {
  width: 40%;
  margin: 0 auto;
}

.form-signup input,
textarea,
.form-login input,
.form-publish input {
  margin-bottom: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

#logo {
  color: white;
}

header {
  background-color: #f56b2a;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
  border-right: 1px solid white;
  border-left: 2px solid white;
  padding: 20px;
}

button {
  background-color: transparent;
  border: none;
  border-right: 2px solid white;
  border-left: 1px solid white;
  color: white;
  padding: 20px;
  font-size: 15px;
}

ul {
  align-items: center;
}

hr {
  border-color: #f56b2a;
  width: 400px;
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: 10px;
}

input[type="submit"] {
  background-color: #4183d7;
  color: white;
  font-size: 15px;
  border: none;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}
.lin-st a {
  border: none;
}

.form-publish {
  width: 50%;
  padding: 20px;
}

.publish-body {
  flex-direction: column;
  padding: 0;
}

.publish-body > h1 {
  background-color: #666666;
  color: white;
  margin: 0;

  font-size: 16px;
}

.picture {
  background-color: #fafafa;
  width: 160px;
  height: 120px;
}

.annonce {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 120px;
}

.liste-annonces {
  width: 50%;
  margin: 20px auto;
  border: 1px solid lightgray;
}
.liste-annonces a {
  padding: 0;
}

.title-annonce {
  color: #4183d7;
}

.price-annonce {
  color: #f56b2a;
  font-weight: bold;
}

.text-annonce {
  margin-left: 30px;
}

.picture-details-annonce {
  background-color: #fafafa;
  width: 100%;
  height: 400px;
}

.card {
  -webkit-box-shadow: 10px 6px 72px -18px rgba(214, 214, 214, 1);
  -moz-box-shadow: 10px 6px 72px -18px rgba(214, 214, 214, 1);
  box-shadow: 10px 6px 72px -18px rgba(214, 214, 214, 1);
}

.card h1 {
  font-size: 16px;
}

.offer-details {
  width: 40%;
}

.detail-author {
  width: 300px;
  height: 150px;
  margin-left: 30px;
}

.pad-10 {
  padding: 10px;
}

.button-number {
  background-color: #f56b2a;
  border-radius: 4px;
  width: 300px;
}

.profil-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fafafa;
  margin-right: 10px;
}

.marg-bot-30 {
  margin-bottom: 30px;
}
